[submodule "bundle/DrawIt"]
	path = bundle/DrawIt
	url = https://github.com/gvim-scripts/DrawIt.git
    ignore = dirty
    branch = master
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/gValloric/YouCompleteMe.git
    ignore = dirty
    branch = master
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/gtpope/vim-fugitive.git
    ignore = dirty
    branch = master
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/gtpope/vim-git.git
    ignore = dirty
    branch = master
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/gsjl/gundo.vim.git
    ignore = dirty
    branch = master
[submodule "bundle/jshint2"]
	path = bundle/jshint2
	url = https://github.com/gShutnik/jshint2.vim.git
    ignore = dirty
    branch = master
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/gsjbach/lusty.git
    ignore = dirty
    branch = master
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/gscrooloose/nerdtree.git
    ignore = dirty
    branch = master
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/gnvie/vim-flake8.git
    ignore = dirty
    branch = master
[submodule "bundle/quicksilver"]
	path = bundle/quicksilver
	url = https://github.com/gBogdanp/quicksilver.vim.git
    ignore = dirty
    branch = master
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/gtpope/vim-surround.git
    ignore = dirty
    branch = master
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/gtpope/vim-repeat.git
    ignore = dirty
    branch = master
[submodule "bundle/characterize"]
	path = bundle/characterize
	url = https://github.com/gtpope/vim-characterize.git
    ignore = dirty
    branch = master
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/gscrooloose/syntastic.git
    ignore = dirty
    branch = master
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/gmajutsushi/tagbar.git
    ignore = dirty
    branch = master
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/gtpope/vim-abolish.git
    ignore = dirty
    branch = master
[submodule "bundle/bufferline"]
	path = bundle/bufferline
	url = https://github.com/gbling/vim-bufferline.git
    ignore = dirty
    branch = master
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = https://github.com/gtommcdo/vim-exchange.git
    ignore = dirty
    branch = master
[submodule "bundle/signify"]
	path = bundle/signify
	url = https://github.com/gmhinz/vim-signify.git
    ignore = dirty
    branch = master
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/gkien/ctrlp.vim.git
    ignore = dirty
    branch = master
[submodule "bundle/ctrlp-py-matcher"]
	path = bundle/ctrlp-py-matcher
	url = https://github.com/gFelikZ/ctrlp-py-matcher.git
    ignore = dirty
    branch = master
